scripts/.ipynb_checkpoints
scripts/old/*
scripts_copy/*
data/wholebrain/*
data/old/*
data/timeseries/*
papers/*
.DS_Store
nilearn_cache/*
.ipynb_checkpoints/*
__pycache__/
.mp4
.jpg
.png
.json
.pkl


